/* GENERAL */

@font-face {
  font-family: emulogic;
  src: url(emulogic.ttf);
}

@font-face {
  font-family: pac-font;
  src: url(pac-font.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: emulogic, sans-serif;
}

/* MENU */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 100%;
    width: 70%;
    margin: auto;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.title {
    display: flex;
    justify-content: center;
    letter-spacing: 0.3em;
    font-size: 4em;
    color: #ffffff;
}

.pac-dot-title {
    font-family: pac-font, sans-serif;
    font-size: 1.3em;
    color: #ffea00;
}

.ghosts-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.ghosts-image {
    max-width: 65%;
}

.menu-item {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    letter-spacing: 5px;
    font-size: 1em;
}

.menu-item a {
    text-decoration: none;
}

.start-game {
    color: #d7712f;
}

.leaderboard {
    color: #293583;
}

/* GAME DESIGN */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 840px;
    border: 1px solid black;
}

.grid div {
    width: 30px;
    height: 30px;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 840px;
}

.game-info-item {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.score {
    margin-top: 30px;
}

.pac-dot {
    background-color: #c5e066;
    border: 10px solid #000;
    box-sizing: border-box;
}

.wall {
    background-color: #1a1aa9;
}

.power-pellet {
    /*background-color: #c5e066;*/
    background-image: url("images/cc-logo-small.png");

}

.pac-man {
    /*background-color: yellow;*/
    background-image: url("images/pac-man-ingame.png");
    border: 0;
}

.pac-man-left {
    background-image: url("images/pac-man-ingame.png");
    border: 0;
}

.pac-man-right {
    background-image: url("images/pac-man-ingame.png");
    transform: rotate(180deg);
    border: 0;
}

.pac-man-up {
    background-image: url("images/pac-man-ingame.png");
    transform: rotate(90deg);
    border: 0;
}

.pac-man-down {
    background-image: url("images/pac-man-ingame.png");
    transform: rotate(270deg);
    border: 0;
}

.blinky {
    border: 0;

}

.blinky-left {
    background-image: url("images/ghosts/blinky-left.png");
    border: 0;
}

.blinky-right {
    background-image: url("images/ghosts/blinky-right.png");
    border: 0;
}

.blinky-up {
    background-image: url("images/ghosts/blinky-up.png");
    border: 0;
}

.blinky-down {
    background-image: url("images/ghosts/blinky-down.png");
    border: 0;
}

.pinky {
    border: 0;
}

.pinky-left {
    background-image: url("images/ghosts/pinky-left.png");
    border: 0;
}

.pinky-right {
    background-image: url("images/ghosts/pinky-right.png");
    border: 0;
}

.pinky-up {
    background-image: url("images/ghosts/pinky-up.png");
    border: 0;
}

.pinky-down {
    background-image: url("images/ghosts/pinky-down.png");
    border: 0;
}

.inky {
    border: 0;
}

.inky-left {
    background-image: url("images/ghosts/inky-left.png");
    border: 0;
}

.inky-right {
    background-image: url("images/ghosts/inky-right.png");
    border: 0;
}

.inky-up {
    background-image: url("images/ghosts/inky-up.png");
    border: 0;
}

.inky-down {
    background-image: url("images/ghosts/inky-down.png");
    border: 0;
}

.clyde {
    border: 0;
}

.clyde-left {
    background-image: url("images/ghosts/clyde-left.png");
    border: 0;
}

.clyde-right {
    background-image: url("images/ghosts/clyde-right.png");
    border: 0;
}

.clyde-up {
    background-image: url("images/ghosts/clyde-up.png");
    border: 0;
}

.clyde-down {
    background-image: url("images/ghosts/clyde-down.png");
    border: 0;
}

.scared-ghost {
    /*background-color: mediumaquamarine;*/
    background-image: url("images/scared-ghost.png");
    border: 0;
}

/* FLASH MESSAGES */

.alert {
    position: absolute;
    text-align: center;
    font-size: 0.8em;
    top: 5%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    border-radius: 10px;
}

.alert-warning {
    background-color: rgba(229, 9, 68, 0.35);
    color: #fff;
}

.alert-info {
    background-color: rgba(133, 104, 224, 0.65);
    color: #fff;
}

.alert-success {
    background-color: rgba(154, 241, 167, 0.47);
    color: #fff;
}

/* LOGIN BOX */

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    border: 2px solid #fcc741;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fcc741;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #fcc741;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

input[type=button], input[type=submit] {
    position: relative;
    display: inline-block;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin: 20px 0;
    letter-spacing: 4px;
    border: 2px solid #fcc741;
    border-radius: 5px;
    background: transparent;
    font-weight: bold;
}

input[type=button]:hover, input[type=submit]:hover {
    background: #d3d3d3;
    color: #343434;
    box-shadow: 0 0 5px #9f98a2,
              0 0 25px #9f98a2;
}

.login-box a {
    text-decoration: none;
    color: #fcc741;
}

.pac-man-login {
    max-width: 150px;
    transform: rotate(180deg);
    position: absolute;
    top: 8%;
    left: 46%;
}

.ghost-login {
    width: 600px;
    position: absolute;
    top: 75%;
    left: 34%;
}

.pac-man-signup {
    max-width: 150px;
    transform: rotate(180deg);
    position: absolute;
    top: 5%;
    left: 46%;
}

.ghost-signup {
    width: 600px;
    position: absolute;
    top: 78%;
    left: 34%;
}