<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
        <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/game.js" defer></script>
        <link rel="icon" type="image/x-icon" href="https://journey.code.cool/v2/assets/codecool_logo.png">
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
